/* Setting body color and margin */
body {
    background: #dddddd;
    margin: 24px;

}
/* Setting colors and fonts for timers */
.timer{
    font-family: sans-serif;
    display: inline-block;
    padding: 24px 32px;
    border-radius: 30px;
    background: white;
}
/* Outlining timers */
.timer__part {
    font-size: 36px;
    font-weight: bold;
}
/* Creating margin for timer buttons */
.timer__btn {
    width: 50px;
    height: 50px;
    margin-left: 16px;
    border-radius: 50%;
    border: none;
    color: white;
    background: pink; 
    cursor: pointer;
}
timer__btn--start {
    background-color: green;
    
}
timer__btn--stop {
    background-color: red;
    
}